.App {
  font-family: 'Almarai', sans-serif;
  background-color: #FFFEF2;
  min-height: 100vh;
}

button {
  border-radius: 5px;
  border: transparent;
  box-shadow: none;
  padding: 10px;
}

input {
  font-size: 15px;
}

.form-group {
  margin-top: 1rem;
}

button:hover {
  background-color: #264653;
}

button.close:hover {
  background-color: transparent;
  color: #264653;
}

.modal-content {
  background-color: #FFFEF2;
}

.modal-title {
  color: #264653;
  font-weight: bold;
  font-size: 30px;
}

.modal-body {
  padding: 2.5rem;
}