.home {
  width: 100vw;
  margin: 80px;
}

.welcome-header h1 {
  color: #264653;
  font-weight: bold;
  font-size: 3rem;
}

.section-header {
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  color: #2A9D8F;
  font-size: 20px;
}

.section-header h1 {
  font-weight: bold;
}

.host-playlists {
  display: flex;
}

.contribute-playlists {
  display: flex;
}

.new-playlist-options {
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-playlist-options form {
  width: 100%;
}

.create-queue-button {
  color: white;
}

.new-playlist-options button {
  background-color: #2A9D8F;
  font-size: 20px !important;
  margin-top: 20px;
}

.new-playlist-options button:hover {
  background-color: #264653;
  font-size: 20px !important;
}

.queue-create-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.queue-create-message a {
  color: white;
}

.queue-create-message a:hover {
  text-decoration: none !important;
}

.form-label {
  color: #264653;
  font-weight: bold;
  font-size: 25px;
}
