.home {
  width: 100vw;
  margin: 80px;
}

.welcome-header h1 {
  color: #264653;
  font-weight: bold;
  font-size: 3rem;
}

.section-header {
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  color: #2A9D8F;
  font-size: 20px;
}

.section-header h1 {
  font-weight: bold;
}

.host-playlists {
  display: flex;
  flex-wrap: wrap;
}

.existing-host-playlists {
  margin-top: 10px;
}

.new-host-playlist {
  margin-top: 10px;
}

.contribute-playlists {
  display: flex;
  flex-wrap: wrap;
}

.existing-contribute-playlists {
  margin-top: 10px;
}

.new-playlist-options {
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-playlist-options form {
  width: 100%;
}

.create-queue-button {
  color: white;
}

.new-playlist-options button {
  background-color: #2A9D8F;
  font-size: 20px !important;
  margin-top: 20px;
}

.new-playlist-options button:hover {
  background-color: #264653;
  font-size: 20px !important;
}

.queue-create-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.queue-create-message a {
  color: white;
}

.queue-create-message a:hover {
  text-decoration: none !important;
}

.form-label {
  color: #264653;
  font-weight: bold;
  font-size: 25px;
}

.empty-playlist-button {
  background-color: #2A9D8F !important;
  width: 300px;
  height: 300px;
  margin-top: 0px !important;
  margin-right: 50px;
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.empty-playlist-button:hover {
  background-color: #2A9D8F !important;
}

.preloaded-button {
  background-color: #F4A261 !important;
  width: 300px;
  height: 300px;
  margin-top: 0px !important;
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.preloaded-button:hover {
  background-color: #F4A261 !important;
}

.playlist-icon {
  width: 250px;
  flex-grow: 0.8;
}

.new-playlist-name-container {
  width: 100%;
}

.new-playlist-name-container p {
  font-size: 25px;
  margin: 0px;
  color: #264653;
  font-weight: bold;
}

